.card-body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(http://localhost:3000/assets/file-scan.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 35%;
    z-index: -1;
    opacity: 0.1;
}